# Instruction to download datasets:

Please download datasets from the link https://www.kaggle.com/datasets/netflix-inc/netflix-prize-data

Place below datasets to the same folder of this notebook

1) combined_data_1.txt

2) combined_data_2.txt

3) combined_data_3.txt

4) combined_data_4.txt

5) movie_titles.csv

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Movie

In [2]:
movie = pd.read_csv("movie_titles.csv", sep=';', names=["Movie_ID", "Year_Release", "Title"], encoding="latin_1")
temp = movie["Movie_ID"].tolist()
movie["Title"] = [temp[i].split(",", 2)[2] for i in range(len(temp))]
movie["Year_Release"] = [temp[i].split(",", 2)[1] for i in range(len(temp))]
movie["Movie_ID"] = [temp[i].split(",", 2)[0] for i in range(len(temp))]
movie = movie.astype({"Movie_ID": "int"})
# movie[movie["Year_Release"]=="NULL"]
# Year_Movie_Nan = movie[movie["Year_Release"]=="NULL"].index.tolist()
# Year_Movie_Fill = [2001, np.nan, np.nan, 1974, 1999, 1994, 1999]
# movie.set_index("Movie_ID")

movie

,Movie_ID,Year_Release,Title
0,1,2003,Dinosaur Planet
1,2,2004,Isle of Man TT 2004 Review
2,3,1997,Character
3,4,1994,Paula Abdul's Get Up & Dance
4,5,2004,The Rise and Fall of ECW
...,...,...,...
17765,17766,2002,Where the Wild Things Are and Other Maurice Se...
17766,17767,2004,Fidel Castro: American Experience
17767,17768,2000,Epoch
17768,17769,2003,The Company
17769,17770,2003,Alien Hunter

In [3]:
movie['Year_Release'].value_counts()

2004    1436
2002    1310
2003    1271
2000    1234
2001    1184
        ...
1918       2
1923       2
1914       2
1909       1
1896       1
Name: Year_Release, Length: 95, dtype: int64

In [4]:
### EDA only for the period of 2004 JAN - 2005 DEC

In [5]:
### TOP 5 highest number of movie release year are 2004, 2002, 2003, 2000, 2001 respectively

## Rating

In [6]:
rate = pd.read_table("combined_data_1.txt", sep=",", names=["Customer_ID", "Rating", "Date"])

temp_list1 = rate["Customer_ID"]
temp_list2 = []

for i in temp_list1 :
    if i.find(":") > 0 :
        temp = i.replace(":", "")
        temp_list2.append(np.nan)
    else :
        temp_list2.append(temp)

rate.insert(0, "Movie_ID", temp_list2)
rate = rate.dropna(subset=["Movie_ID"])
rate = rate.astype({"Movie_ID": "int", "Customer_ID": "int"})
rate["Date"] = pd.to_datetime(rate["Date"], format="%Y-%m-%d")
rate = rate.sort_values(by=["Movie_ID", "Date", "Customer_ID"])
rate = rate.reset_index().drop(["index"], axis=1)

rate

          Movie_ID  Customer_ID  Rating       Date
0                1      1596531     5.0 2004-01-23
1                1      1366860     4.0 2004-01-26
2                1      1181550     3.0 2004-02-01
3                1      1227322     4.0 2004-02-06
4                1      2413320     4.0 2004-02-06
...            ...          ...     ...        ...
24053759      4499      1145431     4.0 2005-12-12
24053760      4499      1199337     1.0 2005-12-17
24053761      4499       988963     3.0 2005-12-20
24053762      4499      2118461     4.0 2005-12-22
24053763      4499      1967694     5.0 2005-12-29

[24053764 rows x 4 columns]

### Which movie has the highest mean rating

In [7]:
rate.groupby('Movie_ID').Rating.mean().sort_values(ascending=False)

Movie_ID
3456    4.670989
3033    4.586364
2102    4.581296
4238    4.554434
13      4.552000
          ...
1227    1.496241
4202    1.487395
2426    1.452381
3575    1.400000
515     1.287879
Name: Rating, Length: 4499, dtype: float64

In [8]:
display(movie.iloc[3455])
display(movie.iloc[3032])
display(movie.iloc[2101])
display(movie.iloc[4237])
display(movie.iloc[12])

Movie_ID                  3456
Year_Release              2004
Title           Lost: Season 1
Name: 3455, dtype: object

Movie_ID                                                    3033
Year_Release                                                2005
Title           Ghost in the Shell: Stand Alone Complex: 2nd Gig
Name: 3032, dtype: object

Movie_ID                          2102
Year_Release                      1994
Title           The Simpsons: Season 6
Name: 2101, dtype: object

Movie_ID             4238
Year_Release         2000
Title           Inu-Yasha
Name: 4237, dtype: object

Movie_ID                                                       13
Year_Release                                                 2003
Title           Lord of the Rings: The Return of the King: Ext...
Name: 12, dtype: object

In [9]:
### TOP 5 highest rated movies (in mean value) are 
### 1st 3456 'Lost: Season 1' in 2004 
### 2nd 3033 'Ghost in the Shell: Stand Alone Complex: 2nd Gig' in 2005
### 3rd 2102 'The Simpsons: Season 6' in 1994
### 4th 4238 'Inu-Yasha' in 2000
### 5th 13 'Lord of the Rings: The Return of the King' in 2000

### Which movie has the highest no. of rating

In [10]:
rate.groupby('Movie_ID').Date.count().sort_values(ascending=False)

Movie_ID
1905    193941
2152    162597
3860    160454
4432    156183
571     154832
         ...
4294        44
915         43
3656        42
4338        39
4362        36
Name: Date, Length: 4499, dtype: int64

In [11]:
display(movie.iloc[1904])
display(movie.iloc[2151])
display(movie.iloc[3859])
display(movie.iloc[4431])
display(movie.iloc[570])

Movie_ID                                                     1905
Year_Release                                                 2003
Title           Pirates of the Caribbean: The Curse of the Bla...
Name: 1904, dtype: object

Movie_ID                   2152
Year_Release               2000
Title           What Women Want
Name: 2151, dtype: object

Movie_ID                  3860
Year_Release              2003
Title           Bruce Almighty
Name: 3859, dtype: object

Movie_ID                   4432
Year_Release               2003
Title           The Italian Job
Name: 4431, dtype: object

Movie_ID                    571
Year_Release               1999
Title           American Beauty
Name: 570, dtype: object

In [12]:
### TOP 5 highest rated (in number of times) movies are 
### 1st 1905 'Pirates of the Caribbean: The Curse of the Black Pearl' in 2003 
### 2nd 2152 'What Women Want' in 2000
### 3rd 3860 'Bruce Almighty' in 2003
### 4th 4432 'The Italian Job' in 2003
### 5th 571 'American Beauty' in 1999

### Which customers are the most active in rating

In [13]:
rate.groupby('Customer_ID').Date.count().sort_values(ascending=False)

Customer_ID
305344     4467
387418     4422
2439493    4195
1664010    4019
2118461    3769
           ...
1605874       1
2429614       1
1605861       1
960296        1
1100658       1
Name: Date, Length: 470758, dtype: int64

In [14]:
### They are very proactive in rating
### 1) we may contact them for rewards to increase loyalty
### 2) we may even invite them to be semi-professional in film critic

### Which period have the most ratings

In [15]:
rate.groupby('Date').Date.count().sort_values(ascending=False)

Date
2005-01-19    180428
2005-04-06     84600
2005-06-01     56269
2005-06-27     55495
2005-05-31     55175
               ...
1999-12-26         3
1999-12-06         3
1999-12-28         3
1999-12-20         2
1999-12-15         1
Name: Date, Length: 2182, dtype: int64

In [16]:
### As the result show
### JAN 19 has the highest rating among the time period
### it also outperform the rest of the days with significant difference
### it's worthwhile to has further study if there is special reason

### from the 2nd to 5th, it all happens during APR-JUN 2005
### maybe there is seasonality involved
### if so, we may hold some special events during that period for promotion purpose